@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lexend:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

.learning_navbar .nav_links {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  font-family: "Poppins", sans-serif;
}
.learning_navbar .nav_links_active {
  color: #1669c9;
}
.nav_links:hover {
  color: #1669c9;
  cursor: pointer;
}
.modules .container {
  width: 100%;
  padding: 0 50px;
}

.learn_heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 24px;
  font-family: "Poppins", sans-serif;
}

.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg 
   px-4 py-2 pb-4 backdrop-blur-lg backdrop-filter w-full h-fit;
}
.feed {
  @apply mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

